.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.start {
  justify-content: flex-start;
  width: 100%;
}

.base {
  background-color: bisque;
  height: 100vh;
}

.container {
  background-color: #ffffff;
  width: 600px;
  height: 450px;
}

h2 {
  color: #6c7289;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 14.63px;
  letter-spacing: 5px;
}

p {
  color: #6c7289;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
}

h1 {
  color: #1c232b;
  font-family: "Fraunces";
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
}

h3 {
  color: #3d8168;
  font-family: "Fraunces";
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
}

h4 {
  color: #6c7289;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
  text-decoration: line-through;
}

.gap {
  gap: 19px;
}

.button {
  background-color: #3d8168;
  color: #ffffff;
  border: none;
  width: 236px;
  height: 48px;
  border-radius: 8px;
}

.cart {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17.07px;
}

.pad-32 {
  padding: 32px;
}

.t {
  border: 1px solid red;
}
